USE [master]
GO
/****** Object:  Database [dbunidelmot]    Script Date: 20/06/2018 15:36:38 ******/
CREATE DATABASE [dbunidelmot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbunidelmot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dbunidelmot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbunidelmot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dbunidelmot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbunidelmot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbunidelmot]
GO
USE [dbunidelmot]
GO
/****** Object:  Table [dbo].[DetalleRegistro]    Script Date: 20/06/2018 15:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleRegistro](
	[idregistro] [int] NOT NULL,
	[idmaterial] [int] NOT NULL,
	[fechadevolucion] [date] NULL,
 CONSTRAINT [PK_DetalleRegistro] PRIMARY KEY CLUSTERED 
(
	[idregistro] ASC,
	[idmaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 20/06/2018 15:36:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[idmaterial] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NULL,
	[autor] [varchar](50) NULL,
	[tema] [varchar](50) NULL,
	[aniopublicacion] [int] NULL,
	[editorial_productor] [varchar](50) NULL,
	[estado] [varchar](10) NULL,
	[inventario] [int] NULL,
	[articulosprestados] [int] NULL,
	[tipomaterial] [varchar](15) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[idmaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro]    Script Date: 20/06/2018 15:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro](
	[idregistro] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[idusuario] [int] NULL,
 CONSTRAINT [PK_Registro] PRIMARY KEY CLUSTERED 
(
	[idregistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 20/06/2018 15:36:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NULL,
	[apellido] [varchar](30) NULL,
	[tipousuario] [varchar](15) NULL,
	[u_usuario] [char](10) NULL,
	[u_password] [varchar](25) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetalleRegistro]  WITH CHECK ADD  CONSTRAINT [FK_DetalleRegistro_Material] FOREIGN KEY([idmaterial])
REFERENCES [dbo].[Material] ([idmaterial])
GO
ALTER TABLE [dbo].[DetalleRegistro] CHECK CONSTRAINT [FK_DetalleRegistro_Material]
GO
ALTER TABLE [dbo].[DetalleRegistro]  WITH CHECK ADD  CONSTRAINT [FK_DetalleRegistro_Registro] FOREIGN KEY([idregistro])
REFERENCES [dbo].[Registro] ([idregistro])
GO
ALTER TABLE [dbo].[DetalleRegistro] CHECK CONSTRAINT [FK_DetalleRegistro_Registro]
GO
ALTER TABLE [dbo].[Registro]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Usuario] FOREIGN KEY([idusuario])
REFERENCES [dbo].[Usuario] ([idusuario])
GO
ALTER TABLE [dbo].[Registro] CHECK CONSTRAINT [FK_Registro_Usuario]
GO
USE [master]
GO
